.baikal_btn_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__btn {
    @include baikal_btn_decor;
  }

  &__label {
    max-width: 80%;
    color: #ffffff;
    text-align: center;
  }
}
