@import "~bootstrap-scss/bootstrap";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/utilities";
@import "~bootstrap-scss/mixins";

/*
 * Standard Classes (large desktop: >= 1440 * 990) 
 */

/* General styles for input */
.is_baikal_invalid_input {
  border: 1px solid $INVALID_INPUT_COLOR;
}

.is_baikal_invalid_label {
  &:after {
    display: inline-block;
    content: " *";
    color: $INVALID_INPUT_COLOR;
  }
}

/* 132 * 45 (px) */
.baikal_medium_sz_btn {
  @include baikal_medium_btn;
}

/* 163 * 67 (px) */
.baikal_big_sz_btn {
  @include baikal_big_btn;
}

/* 114 * 53 (px) */
.baikal_tight_sz_btn {
  @include baikal_tight_btn;
}

/* 233 * 55 (px) */
.baikal_wide_sz_btn {
  @include baikal_wide_btn;
}

/* Main content dimension boundaries */
.baikal_main_content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;

  min-height: 657px;
  height: auto;

  max-width: 100%;
  overflow: auto;
}

@media screen and (min-height: 1024px) {
  .baikal_main_content {
    max-height: 90vh;
    min-height: unset;
  }
}

@media screen and (max-height: 720px) and (orientation: landscape) {
  .baikal_main_content {
    max-height: unset;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .baikal_main_content {
    max-height: unset;
    flex-grow: 1;
    height: auto;
    min-height: unset;
  }
}
