/* Defile header */
@mixin baikal_header {
  color: $HEADER_TEXT_COLOR;
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

/* Define our button */
@mixin baikal_btn_decor {
  text-align: center;
  font-size: 17px;
  font-style: normal;
  border: none;
  outline: none;

  &:hover {
    background-color: #5e93cf;
  }
}

@mixin baikal_medium_btn_sz {
  width: 132px;
  height: 45px;
  border-radius: 3px;

  @media screen and (max-width: 1199px) {
    width: calc(110px + 1.1vw);
    height: calc(40px + 0.5vw);
  }

  @media screen and (max-width: 991px) {
    width: calc(92px + 1.2vw);
    height: calc(36px + 0.5vw);
  }

  @media screen and (max-width: 567px) {
    width: calc(90px + 1.2vw);
    height: calc(40px + 0.5vw);
  }

  @media screen and (max-width: 320px) {
    width: calc(80px + 1.2vw);
    height: calc(30px + 0.5vw);
  }
}

@mixin baikal_big_btn_sz {
  width: 163px;
  height: 67px;
  border-radius: 3px;

  @media screen and (max-width: 991px) {
    max-width: 210px;
    width: 20.33vw;
  }

  @media screen and (max-width: 767px) {
    max-width: 420px;
    width: 88.33vw;
  }
}

@mixin baikal_tight_btn_sz {
  width: 114px;
  height: 53px;
  border-radius: 5px;
}

@mixin baikal_wide_btn_sz {
  width: 15vw;
  min-width: 150px;
  max-width: 223px;

  height: 55px;
  border-radius: 5px;

  @media screen and (max-width: 991px) {
    min-width: 110px;
    max-width: unset;
    width: 17vw;
    height: 46px;
  }
}

@mixin baikal_medium_btn {
  @include baikal_btn_decor;
  @include baikal_medium_btn_sz;
}

@mixin baikal_big_btn {
  @include baikal_btn_decor;
  @include baikal_big_btn_sz;
}

@mixin baikal_tight_btn {
  @include baikal_btn_decor;
  @include baikal_tight_btn_sz;
}

@mixin baikal_wide_btn {
  @include baikal_btn_decor;
  @include baikal_wide_btn_sz;
}

/* Define our Input and its Label */
@mixin baikal_input_label {
  width: 52px;
  color: $INPUT_LABEL_COLOR;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  cursor: pointer;

  /* XXLarge [1400 - ...) */
  @media screen and (min-width: 992px) {
    font-size: 15px;
  }

  @media screen and (max-width: 1199px) {
    font-size: calc(10px + 0.5vw);
  }

  @media screen and (max-width: 991px) {
    font-size: calc(12px + 1vw);
  }
}

@mixin baikal_input_active {
  color: $ACTIVE_INPUT_LABEL_COLOR;
}

@mixin baikal_input_disabled {
  color: $INPUT_LABEL_COLOR;
}

@mixin baikal_input_decor {
  background-color: #ffffff;
  outline: none;
  border: none;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 15px;
  text-align: left;

  /* XXLarge [1400 - ...) */
  @media screen and (min-width: 992px) {
    font-size: 15px;
  }

  @media screen and (max-width: 991px) {
    font-size: calc(10px + 0.5vw);
  }

  @media screen and (max-width: 767px) {
    font-size: calc(12px + 1vw);
  }
}

@mixin baikal_input_sz {
  width: 60%;
  min-width: 69px;
  height: 67px;
}

@mixin baikal_input {
  @include baikal_input_sz;
  @include baikal_input_decor;
}

@mixin baikal_limited_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin baikal_limited_2line_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
