$HEADER_TEXT_COLOR: #606f7a;
$ACTIVE_INPUT_LABEL_COLOR: #606f7a;
$INPUT_LABEL_COLOR: #b7b7b7;
$BLUE_BUTTON_COLOR: #5daaff;
$INVALID_INPUT_COLOR: #af7977;

$BLUE_TOOLTIP_COLOR: #5daaff;
$MOBILE_MENU_STRIPE_COLOR: #a4a4a4;
$MOBILE_MENU_BG_COLOR: #eff3f9;
$DISABLE_ELEMENT_COLOR: #a4a4a4;
$SEARCH_BORD_COLOR: #b7b7b7;

$ON_ACTIVE_HOVER_BG_COLOR: #b7b7b7;
