@import "variables";
@import "mixins";
@import "general";
@import "media";
@import "fonts";

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;

	height: auto;
	min-height: 100vh;
	width: 100%;

	margin: 0;
	padding: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	font-size: 100%;
	font-weight: normal;
	background-color: #eff3f9;
	color: #000000;

	#root {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;

		.app {
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
		}
	}
}

.is_home_active {
	background: url("../images/background-images/home-pg/home-illustration-bg.svg") bottom (right/80%) no-repeat;
}