.couche_editor {
  flex: 1 0 100%;
  width: 100%;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__mobile_header {
    display: none;
  }

  &__preview {
    border-radius: 3px;
  }

  &__counter {
    padding-top: 24px;
  }

  &__input_panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-top: 24px;
  }

  &__btn_panel {
    display: flex;
    justify-content: flex-start;
    margin-top: 36px;
    width: auto;

    &__btn_wrapper {
      margin-right: 9px;
    }

    &__btn_wrapper:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    @include baikal_wide_btn;
    background-color: $BLUE_BUTTON_COLOR;
  }

  &__btn_label {
    color: #fcfdff;
    font-family: OpenSans;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    max-width: 70%;
    @include baikal_limited_title;
  }
}

.content_panel_sz {
  min-width: 404px;
  max-width: 480px;
  width: 28.06vw;
}

@media screen and (max-width: 1199px) {
  .couche_editor {
    margin-top: 35px;
  }

  .content_panel_sz {
    min-width: 320px;
    max-width: 360px;
    width: 37vw;
  }
}

@media screen and (max-width: 991px) {
  .couche_editor {
    padding-top: 32px;
    margin-top: 0;

    &__preview {
    }

    &__counter {
    }

    &__input_panel {
    }

    &__btn_panel {
      &__btn_wrapper {
      }

      &__btn_wrapper:last-child {
      }
    }

    &__btn {
    }

    &__btn_label {
    }
  }

  .content_panel_sz {
    min-width: 270px;
    max-width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .couche_editor {
    width: 100%;
    padding-top: 0;

    &__mobile_header {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-evenly;
    }

    &__preview {
    }

    &__counter {
    }

    &__input_panel {
      width: 100%;
    }

    &__btn_panel {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      &__btn_wrapper {
        width: 100%;
      }

      &__btn_wrapper:last-child {
      }
    }

    &__btn {
      width: 100%;
      min-height: 55px;
      height: 8.35vh;
      max-height: 68px;
    }

    &__btn_label {
    }
  }

  .content_panel_sz {
    max-width: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px) {
  .couche_editor {
    width: 100%;
    &__preview {
    }

    &__counter {
    }

    &__input_panel {
      width: 100%;
      padding-top: 0;
      .baikal_input:first-child {
        margin-top: 0;
      }
    }

    &__btn_panel {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &__btn_wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      &__btn_wrapper:last-child {
        padding-top: 1.2vh;
      }
    }

    &__btn {
      width: 100%;
      min-height: 55px;
      height: 8.35vh;
      max-height: 75px;
    }

    &__btn_label {
    }
  }

  .content_panel_sz {
    max-width: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
