.ship_composer {
  padding-top: 41px;
  padding-bottom: 86px;

  &__search_bar {
    padding-left: 98px;

    &__header {
      max-width: 606px;
      width: 42.01vw;
      color: $HEADER_TEXT_COLOR;
      font-family: OpenSans;
      font-size: calc(16px + 1.1vw);
      font-weight: 400;
      font-style: normal;
      text-align: left;
      margin: auto auto auto 0;
    }

    &__control {
      padding-top: 41px;

      &__back_arrow_ico {
        display: none;
      }
    }

    &__result_wrapper {
      display: block;
      min-height: 434px;
      height: 47.5vh;
      padding-top: 58px;
      max-width: 720px;

      &__result {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        min-height: 0;
        height: 100%;
        max-height: 100%;
        overflow: auto;
      }
    }
  }

  &__editor {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    align-items: center;

    padding-left: 143px;

    &__header {
      width: auto;
      max-width: 100%;
      color: $HEADER_TEXT_COLOR;
      font-family: OpenSans;
      font-size: calc(16px + 1.1vw);
      font-weight: 400;
      font-style: normal;
      text-align: left;

      padding-right: 97px;
      margin: auto auto auto 0;
      @include baikal_limited_title;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1 0 auto;
      text-align: center;
      width: 100%;

      &__placeholder {
        max-width: 430px;
        width: 29.86vw;
        color: $HEADER_TEXT_COLOR;
        font-family: OpenSans;
        font-size: 23px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
      }
    }
  }
}

@media screen and (min-height: 990px) {
  .ship_composer {
    &__body {
      &__content {
        &__couche_preview_list {
          min-height: unset;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .ship_composer {
    &__back_arrow_ico {
      display: none;
    }

    &__search_bar {
      &__header {
      }

      &__control {
      }

      &__result_wrapper {
        &__result {
        }
      }
    }

    &__editor {
      &__header {
      }

      &__content {
        &__placeholder {
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .ship_composer {
    &__back_arrow_ico {
    }
    &__search_bar {
      &__header {
      }

      &__control {
      }

      &__result_wrapper {
        &__result {
        }
      }
    }

    &__editor {
      padding-left: 9vw;

      &__header {
        overflow: unset;
      }

      &__content {
        &__placeholder {
          font-size: 27px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .ship_composer {
    &__back_arrow_ico {
      display: none;
    }

    &__search_bar {
      padding-left: 0;
      &__header {
      }

      &__control {
      }

      &__result_wrapper {
        &__result {
        }
      }
    }

    &__editor {
      padding-left: 0;
      &__header {
      }

      &__content {
        &__placeholder {
          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  .ship_composer {
    &__search_bar {
      &__header {
      }

      &__control {
      }

      &__result_wrapper {
        &__result {
        }
      }
    }

    &__editor {
      &__header {
      }

      &__content {
        &__placeholder {
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .ship_composer {
    &__back_arrow_ico {
    }
    &__search_bar {
      &__header {
      }

      &__control {
        padding-top: 32px;
      }

      &__result_wrapper {
        padding-top: 42px;
        &__result {
        }
      }
    }

    &__editor {
      padding-left: 4vw;

      &__header {
      }

      &__content {
        &__placeholder {
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .ship_composer {
    &__back_arrow_ico {
    }

    &__search_bar {
      padding-left: 7vw;
      &__header {
      }

      &__control {
      }

      &__result_wrapper {
        &__result {
        }
      }
    }

    &__editor {
      padding-left: 3vw;

      &__header {
        padding-right: 0;
      }

      &__content {
        &__placeholder {
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ship_composer {
    position: relative;
    top: -4vw;
    padding: 0;

    &__back_arrow_ico {
      position: absolute;
      top: 7vw;
      left: 4vw;
      margin: 0;
      padding: 0;

      display: block;
    }

    &__search_bar {
      padding-top: 4vw;
      padding: 0;

      &__header {
        display: none;
      }

      &__control {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
      }

      &__result_wrapper {
        max-height: unset;
        height: auto;
        min-height: unset;

        padding-top: 3.64vh;
      }
    }
    &__editor {
      transition: display 2s ease-in-out;
      padding-top: 0;
      padding-left: 0;

      &__content {
        &__placeholder {
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .ship_composer {
    &__back_arrow_ico {
    }

    &__search_bar {
      &__control {
      }
    }

    &__editor {
    }
  }
}

@media screen and (max-width: 320px) {
  .ship_composer {
    &__back_arrow_ico {
    }

    &__search_bar {
      &__control {
      }
    }

    &__editor {
      padding-top: 42px;
    }
  }
}
