.ship_composer {
  &__header {
    padding-top: 67px;
    &__container {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      align-items: center;

      &__title {
        max-width: 606px;
        width: 42.01vw;
        color: $HEADER_TEXT_COLOR;
        font-family: OpenSans;
        font-size: 36px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
      }

      &__title:first-child {
        padding-left: 97px;
      }

      &__title:last-child {
        padding-right: 97px;
      }
    }
  }

  &__body {
    padding-top: 41px;
    padding-bottom: 86px;
    &__search_bar {
      padding-left: 98px;
    }

    &__content {
      padding-left: 98px;

      &__editor_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 99px;

        &__editor {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1 0 100%;
          text-align: center;
          height: 100%;

          &__placeholder {
            max-width: 430px;
            width: 29.86vw;
            color: $HEADER_TEXT_COLOR;
            font-family: OpenSans;
            font-size: 23px;
            font-weight: 400;
            font-style: normal;
            text-align: left;
          }
        }
      }

      &__couche_preview_list {
        display: block;
        min-height: 434px;
        height: 47.5vh;

        padding-top: 58px;

        &__wrapper {
          display: flex;
          flex-direction: column;
          flex: 1 0 100%;
          min-height: 0;
          height: 100%;
          max-height: 100%;
          overflow: auto;
        }
      }

      &__couche_editor {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
      }
    }
  }
}

@media screen and (min-height: 990px) and (orientation: landscape) {
  .ship_composer {
    &__body {
      &__content {
        &__couche_preview_list {
          min-height: unset;
        }
      }
    }
  }
}

@media screen and (max-height: 720px) and (orientation: landscape) {
  .ship_composer {
    &__body {
      &__content {
        &__couche_preview_list {
          height: auto;
        }
      }
    }
  }
}
